
.ContentEditor-root {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    font-size: 1.3em;
    line-height: 1.58em;

    min-height: 80%;
    /* height: 80%; */

    .ContentEditor-withToolbar {
        padding-top: 20px;
    }
}

.ContentEditor-root figure {
    margin: 1em 0;
}

.ContentEditor-root-small {

}
.ContentEditor-root-large {

}

.ContentEditor-editor {
    cursor: text;
    flex-grow: 1;
    // padding: 0 0.6rem
    /* border-top: 1px solid #ddd; */
    /* margin-top: 10px; */
}


// @media (min-width: 1050px) {
//     .ContentEditor-toolbar, .ContentEditor-editor {
//         width: 1000px;
//         margin: auto;
//     }
// }

.ContentEditor-root h3 {
    color: #FF5722;
    color: black;
    font-size: 2em;
    font-weight: 900;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
.ContentEditor-root h4 {
    color: #FF5722;
    color: black;
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
.ContentEditor-root h5 {
    color: #FF5722;
    color: black;
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 0.2em;
}

.ContentEditor-orderedListItem {
    margin: 16px 0;
}

.ContentEditor-unorderedListItem {
    margin: 16px 0;
}

.ContentEditor-toolbar {
    // font-size: 14px;
    margin: 10px 0 20px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    user-select: none;
}

.ContentEditor-group {
    display: inline-block;
    vertical-align: middle;
}
.ContentEditor-group:not(:first-child) {
    margin-left: 1.3rem;
}
.ContentEditor-group > button {
    margin-left: 0.2rem;
}

.ContentEditor-blockButton {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    /* vertical-align: middle; */
    margin-left: 10px;
}
.ContentEditor-blockButtonActive > svg {
    fill: #5890ff !important;
}

.ContentEditor-headerButton {
    font-size: 1.3rem;
    font-weight: bold;
    /* padding: 0.2rem; */

}
.ContentEditor-headerButton:hover {
    color: #5890ff;
    transition: .2s;
}
.ContentEditor-headerButtonActive {
    color: #5890ff;
}

.ContentEditor-editor .public-DraftEditorPlaceholder-root,
.ContentEditor-editor .public-DraftEditor-content {
    & > div > *:first-child {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}

.ContentEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.ContentEditor-editor blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.ContentEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
}


//
// Toolbar
//
.ContentEditor-hoverbar {
    background-color: #000;
    border: none;
    border-radius: 50px;
    font-size: 16px;
}

.ContentEditor-hoverbar .ContentEditor-hoverbar-item {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.ContentEditor-hoverbar .ContentEditor-hoverbar-item button.ContentEditor-hoverbar-item-active {
    background-color: #2f2f2f;
}

.ContentEditor-hoverbar .ContentEditor-hoverbar-item:hover{
    background-color: #2f2f2f;
}

.ContentEditor-hoverbar .ContentEditor-hoverbar-item button {
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 70px;
    margin: 0;
    padding: 15px;
    text-decoration: none;
}
