
.addNodeToCollectionWindow {
    text-align: center;
}

.addNodeToCollectionWindow h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.addNodeToCollectionWindow-nodeSearch {
    margin-bottom: 2rem;
    text-align: center;
}

.addNodeToCollectionWindow-nodeSearch .nodeSearch {
    display: inline-block;
    width: 50%;
}
