.EditableTitle {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    /* min-height: 47px; */

    font-size: 2rem;
    height: 40px;
    font-weight: 700;
}

.EditableTitle-h1 {
    word-wrap: break-word;
    height: 40px;
}

.EditableTitle-input {
    text-align: center;
    padding: 0;
    resize: none;
    white-space: nowrap;
    border: none;
    width: 100%;
    height: 40px;
}
.EditableTitle-input:focus {
    outline: none;
    /* background-color: #FAFAFA; */
    background-color: white;
}
