* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

figure {
    margin: 0;
}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

html {
    height: 100%;
}

body {
    /* background-color: #e9ebee; */
    height: 100%;

    background-color: #FAFAFA;
    /* background: #fefefe; */
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue,Roboto,  Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    /* color: #0a0a0a; */
    -webkit-font-smoothing:
}

#app {
    min-height: 100vh;
}


input {
    line-height: normal;
}

button {
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Roboto,  Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color: #FF5722;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

