[Unit]
Description=GeistMap

[Service]
WorkingDirectory=/home/bryan/graphtodo
ExecStart=/usr/local/bin/node index.js
Restart=always
RestartSec=3
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
