@import '~styles/settings';

.AbstractionNavigator {
    display: inline-block;
    z-index: 10;
    margin: 0.8rem 0.8rem 0;
}

.AbstractionNavigator-item {
    display: inline-block;

    font-size: 1.5rem;

    a {
        font-weight: bold;
    }

}
