@import '~styles/settings';

.graphTypeSwitcher {
    position: fixed;
    // width: 150px;
    width: 100%;
    bottom: 0px;

    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphTypeSwitcher-buttons {
    width: 100%;
}

.graphTypeSwitcher-label {
    font-weight: bold;
    padding: 5px;
    padding-bottom: 10px;
}

.graphTypeSwitcher-button {
    color: white !important;
    // background: $accent-color !important;
    background: #BABBBC !important;
    // opacity: 0.8;

    @media only screen and (max-width: $max-screen-width) {
        span {
            display: none;
        }

        i {
            margin: 0 !important;
        }
    }



    &:nth-child(n+2) {
        margin-top: 10px;
    }

    &:hover {
        opacity: 0.4;
    }

    &:active {
        // opacity: 0.6;
    }

    &.active {
        background: $accent-color !important;
    }
}
