@import 'client/scss/settings';

.nodeList {
    flex-grow: 1;

    background-color: white;

    width: 100%;
    height: 100%;

    display: 'flex';
    flex-direction: 'column';

    border-top: 1px solid #ddd;
    margin-top: 16px;
}

.nodeList ul {
    display: block;
    // text-align: center;
    list-style: none;

    max-width: 100rem;
    margin: 0 auto;

    // margin: 0 1rem;
    padding: 0;

    font-size: 16px;

    .nodeList-header {
        display: block;
        background-color: $light-bg;
        margin: 0 1rem;
        margin-top: 10px;
        margin-bottom: 2px;
        overflow: hidden;
        padding: 0 15px;
    }

    .nodeList-li {
        display: block;
        background-color: $light-bg;
        margin: 0 2rem;
        margin-bottom: 1px;
        overflow: hidden;

        padding: 12px 15px;

        .nodeList-title {
            // font-size: 1.5rem;
            // font-weight: 600;
            color: $secondary-color
        }

        .nodeList-modified {
            font-size: 1rem;
            color: $secondary-text-color;
        }

    }

}

