.collectionDetail-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

.collectionDetail-topcontrols {
    /* max-width: 75rem; */
    width: 80%;
    margin: 20px auto;
    /* margin: 0 1rem; */
}

.collectionDetail-description {
    margin: 0 20px;
    font-size: 1.4rem;
}

.collectionDetail-noNodesYet {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: auto;
}

.collectionDetail-noNodesYet-text {
    font-size: 2rem;
}
.collectionDetail-noNodesYet-start {
    cursor: pointer;
    background-color: white;
}

