@import '~styles/settings';

.zoomButtons {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;

    display: flex;
    flex-direction: column;

}

.zoomButtons-button {
    color: white !important;
    background: $accent-color !important;
    opacity: 0.8;

    &:nth-child(n+2) {
        margin-top: 10px;
    }

    &:hover {
        opacity: 0.4;
    }

    &:active {
        opacity: 0.6;
    }


    &.editMode {
        background: $success-color !important;
    }
}


