@import '~styles/settings';

.subject-node {
    .subject-node-circle {
        fill: $node-subject-color;
        // fill: $primary-color;
        stroke: $node-subject-stroke;
        stroke-width: 2px;
        opacity: 0.6;
        transition: opacity ease-in 85ms;

        &:hover {
            opacity: 0.8;
        }
    }

    text {
        // fill: white;
        // font-family: $font-family-display;
        text-anchor: middle;
        // dominant-baseline: central;
    }
}

.addSubject-node {
    circle {
        fill: $accent-color;
        // stroke: $node-subject-stroke;
        // stroke-width: 2px;
        opacity: 1;
        transition: opacity ease-in 85ms;

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.8;
        }
    }

    text {
        fill: white;
        font-family: Icons;
        text-anchor: middle;
        font-size: 0.8em;
        pointer-events: none;
        // dominant-baseline: central;
    }

    cursor: pointer;
}


.editMode {
    // the background
    circle {
        fill: white;
    }
    textarea {
        resize: none;
        width: 100%;
        height: 100%;
        border: none;
        text-align: center;
    }
}

.editNodeButton {
    color: white;
    font-weight: 400;
    transition: opacity ease-in 85ms;
    stroke: none;
    stroke-width: 0;

    circle {
        opacity: 1;
        fill: $accent-color;

        &:hover {
            opacity: 0.6;
        }
        &:active {
            opacity: 0.8;
        }
    }

    text {
        fill: white !important; 
    }

    .editNodeButton-icon {
        font-family: Icons;
        font-size: 0.8em;
        dominant-baseline: central;
        pointer-events: none;
    }
}

.editNodeButton-active {
    circle {
        fill: green;
    }
}


.subject-link {
    // stroke: black;;
    stroke: #999;
    stroke-width: 2px;
    stroke-opacity: .6;
    opacity: .6;

    &:hover {
        cursor: pointer;
    }
}

.subject-link .editMode {
    stroke: $accent-color;
}

.addSubject-link {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 2px;

    &:hover {
        cursor: pointer;
    }
}

