@import '~styles/settings';

.hierarchy-graph {
    .node {
        cursor: pointer;
    }

    .overlay{
        background-color:#EEE;
    }

    .node {
        .nodeFocus {
            fill: $accent-color;
            stroke: $accent-color;
            font-size: 1em;
        }
    }

    .hierarchy-link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
        stroke-opacity: 0.5;
    }

    .templink {
        fill: none;
        stroke: red;
        stroke-width: 3px;
    }

    .ghostCircle.show{
        display:block;
    }

    .ghostCircle, .activeDrag .ghostCircle{
        display: none;
    }
}
