@import '~styles/settings';

.SourceGrid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    .SourceGrid-item {
        // flex: 1;

        margin: 10px;

        width: 200px;
        height: 200px;

        padding: 10px;

        background: $background-grey-light;

        position: relative;
    }

    .SourceGrid-placeholder {
        i {
            font-size: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
