@import '~styles/settings';

$abstractionList-width: 300px;
$abstractionList-heading-height: 40px;

.abstractionList-heading {
    height: $abstractionList-heading-height;
    background: $abstractionSidebar-heading-background;

    border-right: 1px solid rgb(255, 228, 232);
    border-bottom: 1px solid rgb(225, 228, 232);

    color: white;

    .title {
        font-size: 13px;
        line-height: $abstractionList-heading-height;
        font-weight: bold;
        margin-left: 10px;
    }
}

.abstractionList-expandButton-expanded {
    position: absolute;
    top: calc(#{$topbar-height} + 5px);
    left: calc(#{$abstractionList-width} - 45px);
    z-index: 100;
}
.abstractionList-expandButton-collapsed {
    position: fixed;
    top: calc(#{$topbar-height} + 5px);
    left: 10px;
    z-index: 100;
}

.abstractionList-container {
    position: fixed;
    top: $topbar-height;
    bottom: 0;
    left: 0;
    width: $abstractionList-width;

    z-index: 10;
    transition: transform 0.2s ease;
    transform: translate3d(-100%, 0px, 0px);

}

.abstractionList-show {
    transform: translate3d(0px, 0px, 0px);
}

// used in the main view
.abstractionList-pusher {
    margin-left: $abstractionList-width;

    // when the page is wide enough, re-center the graph so they can be shown side by side
    @media only screen and (min-width: 1000px) {
        .graphModes {
            position: absolute;
        }
    }
}

.abstractionList {
    list-style: none;
    background-color: #21252B;
    margin: 0;
    padding: 0;
    color: #9DA5AB;
    font-family: lucida grande ,tahoma,verdana,arial,sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;

    overflow: auto;
}

.abstractionList-loading {
    color: #E2C089;
}

.abstractionList-header {
    display: inline-block;
    verticalAlign: top;
    color: #9DA5AB;

    .connector {
        width: 2px;
        height: 12px;
        border-left: solid 2px black;
        border-bottom: solid 2px black;
        position: absolute;
        top: 0px;
        left: -21px;
    }

    .title {
        line-height: 24px;
        vertical-align: middle;
    }
}

.abstractionList-toggle {

}

.abstractionList-node {
    position: relative;
    white-space: nowrap;

    .subtree {
        list-style: none;
        padding-left: 19px;
    }

    .link {
        cursor: pointer;
        position: relative;
        padding: 0px 5px;
        display: bloc;

        .active {
            background: #31363F;
        }

    }
}

