@import '~styles/settings';

.allSearch {
    position: relative;
    margin-left: 5px;
}

.allSearch-list {
    position: absolute;
    top: 56px;
    left: 10px;
    width: 500px;

    z-index: 100000;
    min-height: 10rem;
    background-color: white;
    border: 1px solid;
}

.allSearch-no-result {
    position: absolute;
    /* padding: 0.4rem; */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
}

.allSearch-input {
    @media only screen and (max-width: $max-screen-width) {
        display: none !important;
    }
}

.allSearch-inputButton {
    display: none !important;
    // background: white !important;

    @media only screen and (max-width: $max-screen-width) {
        display: initial !important;
    }
}
