.nodeSearch {
    position: relative;
    display: inline-block;
}

.nodeSearch-list {
    z-index: 1501; /* material-ui Dialog has 1500 */
    width: 100%;
    min-height: 10rem;
    position: absolute;
    background-color: white;
    border: 1px solid;
}

.nodeSearch-no-result {
    position: absolute;
    /* padding: 0.4rem; */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
