@import '~styles/settings';

.editModeButton-container {
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 100;

    display: flex;
    flex-direction: column;
}

.editModeButton {
    color: white !important;
    background: $accent-color !important;
    opacity: 0.8;

    &:hover {
        opacity: 0.4;
    }

    &:active {
        opacity: 0.6;
    }
}

