
.collectionOverview-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

.collectionOverview-topcontrols {
    /* max-width: 75rem; */
    width: 80%;
    margin: 20px auto;
    /* margin: 0 1rem; */
}

.collectionOverview-description {
    margin: 0 20px;
    font-size: 1.4rem;
}


.collectionOverview-noCollectionsYet {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.collectionOverview-noCollectionsYet-text {
    font-size: 2rem;
}
.collectionOverview-noCollectionsYet-start {
    cursor: pointer;
    background-color: white;
}

.collectionOverview-buttons {
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 99;

    display: flex;
    flex-direction: column;
}

.collectionOverview-buttons > div {
    margin-left: 10px;
    margin-bottom: 10px;
}

