
.SourceGrid {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    .SourceGrid-item {
        // flex: 1;

        width: 200px;
        height: 200px;

        padding: 10px;

        background: grey;
    }
}
