.nodeExplore {

}

.nodeExplore-sidebar {
    /* min-height: 238px; */
    /* z-index: -1; */
    width: 80%;
    margin: 20px auto;
}

.nodeExplore-graph {
    position: relative;
}

@media screen and (min-width: 1920px) {
    .nodeExplore-sidebar {
        width: 40%;
        padding-left: 1rem;
        float: left;
    }

    .nodeExplore-graph {
        width: 60%;
        float: left;
    }
}


.nodeExplore-noNodesYet {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.nodeExplore-noNodesYet-text {
    font-size: 2rem;
}
.nodeExplore-noNodesYet-start {
    cursor: pointer;
    background-color: white;
}



.nodeExplore-nodeSearch {
    position: relative;
    /* display: inline-block; */
    width: 30rem;
    margin-top: 1rem;
}

.nodeExplore-nodeSearch-list {
    z-index: 1501; /* material-ui Dialog has 1500 */
    width: 100%;
    min-height: 10rem;
    position: absolute;
    background-color: white;
    border: 1px solid;
}

.nodeExplore-nodeSearch-input {
    height: 3rem;
    width: 100%;
    padding: 1rem;
    /* margin: 0 0 1rem; */
    border: 1px solid #cacaca;
    font-size: 1.5rem;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    /* transition: border-color 0.15s linear, background 0.15s linear; */
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}
.nodeExplore-nodeSearch-input:focus {
    background-color: #fafafa;
    border-color: #999999;
    outline: none;
}
