@import '~styles/settings';

svg {
    width: "100%";
}

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%; /* ratio between SVG height and width */
	/* padding-bottom: 100%; */ 
	vertical-align: middle; 
	overflow: hidden; 

    flex-grow: 1;

    height: 100%;
    max-height: 100%;

    background-color: white;
    margin-top: 16px;
    border-top: 1px solid #ddd;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    max-height: 100%;
    width: 100%;
}

.node circle {
    fill: #888888;
    stroke: #fff;
    stroke-width: 2px;
}
.node:hover {
    cursor: pointer;
    fill: #000000;
}

.node text {
    fill: #0F073B;
    stroke: none;
    font-size: 1em;
    // pointer-events: none;
    z-index: 100;
}

.node-link {
    stroke: $accent-color;
    stroke-width: 3px;
    stroke-opacity: .6;

    &:hover {
        cursor: pointer;
    }

    /* shaft-width: 1px; */
    /* stroke-width:1.5px */
    /* font-size: 8px; */
    /* padding: 3px; */
    /* text-color-external: #000000; */
    /* text-color-internal: #FFFFFF; */
}

.subject-node {
    circle {
        fill: $node-subject-color;
        // fill: $primary-color;
        stroke: $node-subject-stroke;
        stroke-width: 2px;
        opacity: 0.6;
        transition: opacity ease-in 85ms;

        &:hover {
            opacity: 0.8;
        }
    }

    text {
        // fill: white;
        font-family: $font-family-display;
        text-anchor: middle;
        dominant-baseline: central;
    }
}

.addCollection-node {
    circle {
        fill: $accent-color;
        // stroke: $node-subject-stroke;
        // stroke-width: 2px;
        opacity: 1;
        transition: opacity ease-in 85ms;

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.8;
        }
    }

    text {
        fill: white;
        font-family: Icons;
        text-anchor: middle;
        font-size: 0.8em;
        pointer-events: none;
        // dominant-baseline: central;
    }

    cursor: pointer;
}

.editNodeButton {
    color: white;
    font-weight: 400;
    // font-size: 1em;

    rect {
        opacity: 0.6;
        padding: 10px;
        fill: $node-subject-stroke;

        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 1;
        }
    }

    text {
        fill: $accent-color;
    }

    .editNodeButton-icon {
        font-family: Icons;
        font-size: 0.8em;
        // pointer-events: none;
    }
}

.collection-link {
    // stroke: black;;
    stroke: #999;
    stroke-width: 2px;
    stroke-opacity: .6;
    opacity: .6;

    &:hover {
        cursor: pointer;
    }
}

.collection-link .editMode {
    stroke: $accent-color;
}

.addCollection-link {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 2px;

    &:hover {
        cursor: pointer;
    }
}

