hr {
    border-bottom:2px solid $primary-color;
}

//materialize the input and forms
[type='text'], 
[type='password'], 
[type='date'], 
[type='datetime'], [
type='datetime-local'], 
[type='month'], 
[type='week'], 
[type='email'], 
[type='number'], 
[type='search'], 
[type='tel'], 
[type='time'], 
[type='url'], 
[type='color'], 
textarea {
    background:$white;
    @include card(1);
    border:0;
    padding-left:.5rem;
    padding-right:.5rem;
    &:focus {
        border:none;
        @include card(1);
        background:lighten($light-bg, 3%);
    }
}

//buttons
.button {
    font-weight: 400;
	@include card(1);
    transition: none;
    font-size: 1rem;
	&.flat {
		box-shadow:none;
		color:$primary-color;
		background:transparent;
		&:active {
			background:$light-gray;
		}
	}
    &:active {
        background:darken($primary-color,10%);
    }
    &.secondary {
        &:active {
            background:darken(#777,15%);
        }
    }
    &.blue {
        background:$blue;
        &:hover {
            background:darken($blue,5%);
        }
        &:active {
            background:darken($blue,10%);
        }
    }
}

.error-page {
    padding-top:2rem;
}
