@import 'settings';

$textColor: #212121;
$secondaryTextColor: #5c5c5c;


html {
    height: 100%;
    font-size: 14px;
}
body {
    height: 100%;
    background: #fff;
    font-weight: normal;
    line-height: 1.4;

    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    color: $textColor;
    font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;

    .stretch {
        height: 100%;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1032px;
    padding: 0 16px;
}

/*
 * NAVIGATION
*/

.globalNav {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navigation-title {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
}
.navigation-actions {
    display: flex;
    align-items: center;

    .navigation-actions-icons {
        display: inline;
        margin-right: 15px;
        a {
            margin-right: 5px;
        }
    }

    .navigation-link {
        color: #fff;
        font-size: 1.2rem;
    }
}


#intro {
    height: 760px;
    display: flex;
    align-items: center;

    // background-color: $primary-color;
    // background: linear-gradient(to bottom right, $primary-color, #fff);
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
    background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);

}


.mainSection {
    width: 100%;
    margin: 2rem auto;
    overflow: hidden;
    display: flex;
    align-content: center;
    align-items: center;
}
.mainSection-text {
    flex: 0 0 60%;
    padding-right: 100px;

    .mainSection-header {
        color: #fff;
        font-size: 2.8rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    .mainSection-body {
        font-size: 1.3rem;
        font-weight: 200;
        line-height: 2rem;
        // color: $secondaryTextColor;
        color: #d9fcff;
        margin: 0;
    }
}

.mainSection-signup {
    flex: 0 0 40%;
    // max-width: 400px;
}

.sectionTitle {
    text-align: center;
    font-size: 2.1rem;
    font-weight: 400;
    margin: 60px 0 !important;

    // color: $accent-color;
    color: $secondaryTextColor;

    text-transform: uppercase;
    letter-spacing: .04em;
}

.whereWeAreSection {
    // margin-top: 60px;
}

.featureRow-container {
    width: 100%;
    padding: 60px 0;
}

.featureRow {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-content: center;
}
.featureRow-container:nth-child(odd) {
    .featureRow-text {
        order: 1;
    }
    .featureRow-image {
        order: 2;
    }
}

.featureRow-container:nth-child(even) {
    .featureRow-text {
        order: 2;
    }
     .featureRow-image {
        order: 1;
    }

    background-color: #f1f1f1;
}

.featureRow-text {
    flex: 0 0 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featureRow-header {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: $accent-color;
}
.featureRow-body {
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 2rem;
    color: $secondaryTextColor;
    margin: 0;
}

.featureRow-image {
    flex: 0 0 50%;

    img {
        width: 90%;
    }
}

.endSection {
    margin: 0 auto;
    max-width: 400px;
}
.endSection-header {
    text-align: center;
}

.footer {
    margin: 50px 0;
    text-align: center;
}
.footer > * {
    margin: 0 10px;
}

@media only screen and (max-width: 800px) {
    .wrapper {
        padding: 0 32px;
        margin: 0 auto;
        text-align: center;
    }
    .mainSection {
        flex-direction: column;
    }
    .featureRow {
        flex-direction: column;
    }

    .mainSection-signup {
        width: 350px;
    }
    .mainSection-text {
        padding-right: 0;
    }

    .featureRow-image {
        margin-top: 30px;
    }

    .featureRow:nth-child(odd) .featureRow-text {
        order: 1;
    }
    .featureRow:nth-child(odd) .featureRow-image {
        order: 2;
    }
    .featureRow:nth-child(odd) .featureRow-text {
        order: 1;
    }
    .featureRow:nth-child(odd) .featureRow-image {
        order: 2;
    }
}



$numItemsInLoop: 6;
$degreePerItem: 360 / $numItemsInLoop;
$circleRadius: 500px;
$colorList: linear-gradient(0deg, #f06e47, #ffab4a), #eb5a46, #7b8fd1, #29cce5, #42548e, $accent-color, #000;

.creationLoop {

    margin: 150px auto;
    position: relative;
    width: 2 * $circleRadius;
    height: 2 * $circleRadius;

    .creationLoop-video {
        transform: translate3d(-50%, -50%, 0);
        width: #{$circleRadius*2 - 200};
        width: 600px;
        height: 350px;

        position: absolute;
        left: $circleRadius;
        top: $circleRadius;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        video {
            object-fit: cover;
        }
    }

    .creationLoop-item {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 200px;
        height: 200px;

        background-color: $primary-color;
        border-radius: 50%;
        font-size: 1.5rem;

        display: table;

        h3 {
            color: white;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

    }

    @for $i from 0 through $numItemsInLoop {
        .creationLoop-item:nth-child(#{$i+1}) {
            background: nth($colorList, $i+1);
            transform: translate3d(-50%, -50%, 0) rotate(#{-90 + $i * $degreePerItem}deg) translate($circleRadius) rotate(#{90 + -$i * $degreePerItem}deg)
        }
    }
}








/*
 * AUTH TODO: separate this
*/
/* TODO: Should be separated */

.authContainer {
    width: 500px;
    margin: 0 auto;
}

.panel {
    box-shadow: 0 9px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    text-align: center;
    padding: 1.5rem;
    margin: 40px;
    background-color: white;

    .panel-title {
        font-size: 1.9rem;
    }

    .panel-authText {
        display: block;
        margin: .5rem 0;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: .2rem;
    }
}

.bottom-panel {
    margin: 1rem auto;
}

.signupForm {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type="password"] {
        margin-top: 5px;
    }

    .signupForm-tos {
        margin-top: 20px;
        font-size: 12px;
    }
}

.forgotForm, .emailConfirmationForm, .loginForm, .resetForm {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type="password"] {
        margin-top: 5px;
    }
}

div .socialButton {
    width: 100%;
    font-size: 1rem;
}





