
.addRelationWindow {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.addRelationWindow h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.addRelationWindow-nodeSearch {
    margin: 2rem 0;
    text-align: center;
    width: 80%;
}

.addRelationWindow-nodeSearch .nodeSearch {
    display: inline-block;
}

.addRelationWindow-nodeSearch .nodeSearch .nodeSearch-list {
    position: static;
}
