@import 'client/scss/settings';

.nodeToolbar {
    // flex-grow: 1;
    // width: 100%;
    // background-color: white;

    position: relative;

    // display: flex;
    // flex-direction: column;
    // align-items: center;

    z-index: 1000;

    width: 100%;
    min-height: 170px;

    margin: 0 16px;
    margin-bottom: 8px;
}

@media only screen and (max-width: $max-screen-width + 32px) {
    .nodeToolbar {
        width: 100%;
    }
}

@media only screen and (min-width: $max-screen-width + 32px) {
    .nodeToolbar {
        width: $max-screen-width;
        margin: 0 auto;
        margin-bottom: 8px;
    }
}


.nodeToolbar-loadingState {
    display: inline;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.nodeToolbar-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    color: $accent-color;
}

.nodeToolbar-subtitle {
    color: $secondary-text-color;
}

.nodeToolbar-collectionList {
    text-align: center;
}

.nodeToolbar-cardActions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
}
