
.collectionExplore {
    height: 100%;
}

.collectionExplore-sidebar {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.collectionExplore-collectionSelect {
    width: 20%;
    margin-top: 20px;
    padding-left: 1rem;
    float:left;
}

.collectionExplore-graph {
    position: relative;
    width: 80%;
    float: left;
}

@media (min-width: 1200px) {
    .collectionExplore {
        display: flex;
    }

    .collectionExplore-sidebar {
        /* padding-left: 1rem; */
        flex: 0 0 35%;
        width: 35%;  /* can this be avoided? */
    }

    .collectionExplore-collectionSelect {
        flex: 0 0 15%;
        float: none;
    }

    .collectionExplore-graph {
        flex: 0 0 50%;
        float: none;
        flex-grow: 10;
    }
}


.collectionExplore-noCollectionsYet {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: auto;
}

.collectionExplore-noCollectionsYet-text {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.collectionExplore-noCollectionsYet-start {
    cursor: pointer;
    background-color: white;
}
