@import '~styles/settings';

.topbar {
    background-color: $primary-color;
    height: $topbar-height;
    color: white;

    position: fixed;
    width: 100%;

    z-index: 1000;
}

.topbar-left {
    float: left;
    display: flex;
    align-items: center;
    height: 56px;
    margin-left: 5px;
}

.topbar-archive {
    // padding: 0 10px;
}

.topbar-archiveButton {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: .28571429rem;

    span {
        @media only screen and (max-width: $max-screen-width) {
            display: none;
        }
    }

    &:hover {
        background-color: rgba(153, 153, 153, 0.2);
    }
    &:active {
        background-color: rgba(153, 153, 153, 0.5);
    }
}


.topbar-logo {
    height: 56px;
    line-height: 56px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    color: inherit;
    text-decoration: none;

    span {
        font-style: italic;
        font-weight: bold;
        font-size: 2.3rem;
        font-family: $font-family-text;
    }

    opacity: 0.8;
    transition: opacity ease-in 85ms;
    &:hover {
        color: inherit;
        opacity: 1;
    }
}

.topbar-actions {
    float: right;
    display: flex;
    align-items: center;
    height: 56px;
    margin-right: 5px;

    .topbar-action {
        background: white;
    }
}

.topbar-actions > div:not(:last-child){
    margin-right: 5px;
}
