@import '~styles/settings';

.graphMode-button {
    color: white !important;
    // background: $accent-color !important;
    // opacity: 0.8;

    &:nth-child(n+2) {
        margin-top: 10px;
    }

    &:hover {
        opacity: 0.4;
    }

    &:active {
        // opacity: 0.6;
    }

    &.active {
        background: $accent-color !important;
    }
}
