
.graphSidebar {
    flex-basis: 50%;
    flex-grow: 0;
    padding-top: 30px;
    position: relative;
    /* width: 50%; */
    max-height: 100%;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.5s;
}

.graphSidebar-open {
    transform: translate3d(0, 0, 0)
}
